.campos-holder {
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    transition: 500ms ease all;
}

.busca-feita .campos-holder {
    top: -100% !important;
    bottom: 100% !important;
}

#opOutro:not(:checked) ~ #campoOutro {
    display: none;
}

.btn-outline-light svg {
    fill: var(--bs-btn-color);
}

.btn-check:checked+.btn-outline-light svg {
    fill: var(--bs-btn-active-color);
}

#layoutGrid:checked ~ #conteudoResultados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#layoutList:checked ~ #conteudoResultados {
    display: flex;
    flex-direction: column;
}

#conteudoResultados * {
    max-width: 100%;
}